<header>
  <div class="round">
    <h1>NIKKI THEAN</h1>
    <H2>WEB DEVELOPMENT PORTFOLIO</H2>
  </div>
</header>

<div class="about">
  <div class="two columns">
    <p></p>
  </div>

  <div class="twelve columns">
    <h4>ABOUT</h4>
    <p>I was born somewhere in the tropics (okay, Kuala Lumpur) and arrived in America in 2006 to attend <a href="http://www.princeton.edu">Princeton University</a>. I graduated in 2010 with an A.B. from the <a href="http://wws.princeton.edu/">Woodrow Wilson School of Public and International Affairs</a> and a certificate in <a href="http://www.princeton.edu/arts/arts_at_princeton/creative_writing/about_the_program/">Creative Writing</a>.</p>
    <p>I've worked in <a href="http://imshealth.com">pharmaceutical consulting</a> and <a href="http://foliolit.com">literary management</a>, where I taught myself VBA and decided I might actually like this programming thing. Other fun things I've done include singing at Carnegie Hall with the <a href="http://www.oratoriosocietyofny.org/">Oratorio Society of New York</a>, attending the <a href="http://www.squawvalleywriters.org/">Community of Writers at Squaw Valley</a>, studying writing under Jeffrey Eugenides and Joyce Carol Oates, and learning acrobatics at <a href="/images/circus.jpg">circus school</a>.</p>
    <p>Now I'm a <a href="http://flatironschool.com/nycworkforce1/">Web Development Fellow</a> at the <a href="http://flatironschool.com/">Flatiron School</a>.</p>
  </div>

  <div class="two columns">
    <p></p>
  </div>
</div>

<div class="projects">
  <div class="sixteen columns title">
    <h4>RECENT PROJECTS</h4>
  </div>

  <div class="two columns">
    <p> </p>
  </div>

  <div class="three columns">
    <center>
      <a href="http://conways-gameoflife.herokuapp.com" target="blank"><img src="/images/beehives.png" class="image-small"></a>
      <p><strong>conway's game of life</strong><br>
      a ruby implementation of a classic programming challenge
    </center>
  </div>

  <div class="three columns">
    <center>
      <a href="http://emergency-pusheen.herokuapp.com" target="blank"><img src="/images/pusheen.png" class="image-small"></a>
      <p><strong>emergency pusheen</strong><br>
        inspired by <a href="http://pusheen.com" target="blank">pusheen</a> and <a href="http://emergencycompliment.com">emergency compliment</a></p>
    </center>
  </div>

  <div class="three columns">
    <center>
      <a href="http://sinatra-playlister.herokuapp.com" target="blank"><img src="/images/playlist.png" class="image-small"></a>
      <p><strong>youtube playlister</strong><br>
        embeds youtube videos for some music blake liked in the '90s</p>
    </center>
  </div>

  <div class="three columns">
    <center>
      <a href="http://team-kickass.herokuapp.com/" target="blank"><img src="/images/ruby.png" class="image-small"></a>
      <p><strong>ruby roulette</strong><br>
        ruby resources for n00bs<br>
        created on the first day of the flatiron school</p>
    </center>
  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>

<div class="projects">
  <div class="two columns">
    <p> </p>
  </div>

  <div class="three columns">
    <center>
      <a href="http://pokemon-ajax.herokuapp.com" target="blank"><img src="/images/Bulbasaur.png" class="image-small"></a>
      <p><strong>browser pokemon</strong><br>
        an exercise in web scraping and asynchronous loading... with pokemon!
      </p>
    </center>
  </div>

  <div class="three columns">
    <center>
      <a href="http://are-you-still-sad.herokuapp.com" target="blank"><img src="/images/stillsad.png" class="image-small"></a>
      <p><strong>are you still sad?</strong><br>
        uses nokogiri to collect odd compliments and cool cats from the interwebs.</p>
    </center>
  </div>

  <div class="three columns">
    <center>
      <a href="http://hilarious-quiz.herokuapp.com" target="blank"><img src="/images/doge.png" class="image-small"></a>
      <p><strong>hilarious quiz</strong><br>
        are you ashley, the internet wizard,
        or blake, the world traveler?</p>
    </center>
  </div>

  <div class="three columns">
    <center>
      <a href="http://isittoday.herokuapp.com" target="blank"><img src="/images/christmas.png" class="image-small"></a>
      <p><strong>is it today?</strong><br>
        need to know whether you get a day off from work today? check right here.
      </p>
    </center>
  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>

<div class="links">
  <div class="sixteen columns title">
    <h4>LINKS</h4>
  </div>

  <div class="five columns">
    <p> </p>
  </div>

  <div class="two columns">
    <center>
      <a href="https://github.com/nixsticks" target="blank"><img src="/images/octocat.png" class="image-links"></a>
    </center>
  </div>

  <div class="two columns">
    <center>
      <a href="http://www.linkedin.com/profile/view?id=91700514" target="blank"><img src="/images/linkedin.png" class="image-links"></a>
    </center>
  </div>

  <div class="two columns">
    <center>
      <a href="http://nikkicodes.tumblr.com" target="blank"><img src="/images/tumblr.png" class="image-links"></a>
    </center>
  </div>

  <div class="five columns">
    <p> </p>
  </div>
</div>

<footer>
  <div class="six columns">
    <p> </p>
  </div>

  <div class="two columns">
    <h4><a href="http://flatironschool-bk.herokuapp.com" target="blank">BK-000</a></h4>
  </div>

  <div class="two columns">
    <h4><a href="mailto:nikki.thean@gmail.com" target="blank">contact</a></h4>
  </div>

  <div class="six columns">
    <p> </p>
  </div>
</footer>