%header
  .round
    %h1 NIKKI THEAN
    %h2 WEB DEVELOPMENT PORTFOLIO

.about
  .twelve.columns.offset-by-two
    %h4 ABOUT
    %p I was born somewhere in the tropics (okay, Kuala Lumpur) and arrived in America in 2006 to attend <a href="http://www.princeton.edu">Princeton University</a>. I graduated in 2010 with an A.B. from the <a href="http://wws.princeton.edu/">Woodrow Wilson School of Public and International Affairs</a> and a certificate in <a href="http://www.princeton.edu/arts/arts_at_princeton/creative_writing/about_the_program/">Creative Writing</a>.
    %p I've worked in <a href="http://imshealth.com">pharmaceutical consulting</a> and <a href="http://foliolit.com">literary management</a>, where I taught myself VBA and decided I might actually like this programming thing. Other fun things I've done include singing at Carnegie Hall with the <a href="http://www.oratoriosocietyofny.org/">Oratorio Society of New York</a>, attending the <a href="http://www.squawvalleywriters.org/">Community of Writers at Squaw Valley</a>, studying writing under Jeffrey Eugenides and Joyce Carol Oates, and learning acrobatics at <a href="/images/circus.jpg">circus school</a>.
    %p Now I'm a <a href="http://flatironschool.com/nycworkforce1/">Web Development Fellow</a> at the <a href="http://flatironschool.com/">Flatiron School</a>.

.projects
  .sixteen.columns.title
    %h4 RECENT PROJECTS

  .three.columns.offset-by-two
    %a{href: "http://watch-withme.herokuapp.com", target: "blank"}
      %img{src: "/images/video.png", class: "image-small"}
    %p
      %strong watch with me
      %br
      synchronizes videos to watch with friends on different computers

  .three.columns
    %a{href: "http://compliment-mailbox.herokuapp.com", target: "blank"}
      %img{src: "/images/envelope.png", class: "image-small"}
    %p
      %strong compliment mailbox
      %br
      a little project for my class to send compliments to one another

  .three.columns
    %a{href: "http://clapforashley.com", target: "blank"}
      %img{src: "/images/clap.png", class: "image-small"}
    %p
      %strong clap for ashley
      %br
      made for instructor ashley williams

  .three.columns
    %a{href: "http://blakeisaweso.me", target: "blank"}
      %img{src: "/images/blake.jpeg", class: "image-small"}
    %p
      %strong blake is awesome
      %br
      made for instructor blake johnson

.descriptions
  .nine.columns.offset-by-two
    #video.hidden
      %p Some stuff about the video project

    #mailbox.hidden
      %p Compliment Mailbox

.projects
  .three.columns.offset-by-two
    %a{href: "http://conways-gameoflife.herokuapp.com", target: "blank"}
      %img{src: "/images/beehives.png", class: "image-small"}
    %p
      %strong conway's game of life
      %br
      a ruby implementation of a classic programming challenge

  .three.columns
    %a{href: "http://emergency-pusheen.herokuapp.com", target: "blank"}
      %img{src: "/images/pusheen.png", class: "image-small"}
    %p
      %strong emergency pusheen
      %br
      inspired by <a href="http://pusheen.com" target="blank">pusheen</a> and <a href="http://emergencycompliment.com">emergency compliment</a>

  .three.columns
    %a{href: "http://sinatra-playlister.herokuapp.com", target: "blank"}
      %img{src: "/images/playlist.png", class: "image-small"}
    %p
      %strong youtube playlister
      %br
      embeds youtube videos using the youtube api

  .three.columns
    %a{href: "http://team-kickass.herokuapp.com/", target: "blank"}
      %img{src: "/images/ruby.png", class: "image-small"}
    %p
      %strong ruby roulette
      %br
      a resource for beginners, created on the first day of the flatiron school

.projects
  .three.columns.offset-by-two
    %a{href: "http://pokemon-ajax.herokuapp.com", target: "blank"}
      %img{src: "/images/Bulbasaur.png", class: "image-small"}
    %p
      %strong pokemon
      %br
      an exercise in web scraping and asynchronous loading... with pokemon!

  .three.columns
    %a{href: "http://are-you-still-sad.herokuapp.com", target: "blank"}
      %img{src: "/images/stillsad.png", class: "image-small"}
    %p
      %strong are you still sad?
      %br
      uses nokogiri to collect odd compliments and cool cats from the interwebs.

  .three.columns
    %a{href: "http://hilarious-quiz.herokuapp.com", target: "blank"}
      %img{src: "/images/doge.png", class: "image-small"}
    %p
      %strong hilarious quiz
      %br
      are you ashley, the internet wizard, or blake, the world traveler?

  .three.columns
    %a{href: "http://isittoday.herokuapp.com", target: "blank"}
      %img{src: "/images/christmas.png", class: "image-small"}
    %p
      %strong is it today?
      %br
      need to know whether to go to work today? check right here.

.links
  .sixteen.columns.title
    %h4 LINKS

  .two.columns.offset-by-five
    %a{href: "https://github.com/nixsticks", target: "blank"}
      %img{src: "/images/octocat.png", class: "image-links"}

  .two.columns
    %a{href: "http://www.linkedin.com/profile/view?id=91700514", target: "blank"}
      %img{src: "/images/linkedin.png", class: "image-links"}

  .two.columns
    %a{href: "http://nikkicodes.tumblr.com", target: "blank"}
      %img{src: "/images/tumblr.png", class: "image-links"}

%footer
  .two.columns.offset-by-six
    %h4
      %a{href: "http://flatironschool-bk.herokuapp.com", target: "blank"} BK-000

  .two.columns
    %h4
      %a{href: "mailto:nikki.thean@gmail.com", target: "blank"} contact