<header>
  <div class="round">
    <h1>NIKKI THEAN</h1>
    <H2>WEB DEVELOPMENT PORTFOLIO</H2>
  </div>
</header>

<div class="about">
  <div class="two columns">
    <p></p>
  </div>

  <div class="twelve columns">
    <h4>ABOUT</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="two columns">
    <p></p>
  </div>
</div>

<div class="projects">
  <div class="sixteen columns title">
    <h4>RECENT PROJECTS</h4>
  </div>

  <div class="two columns">
    <p> </p>
  </div>

  <div class="three columns">
    <center>
      <a href="http://conways-gameoflife.herokuapp.com" target="new"><img src="/images/beehives.png" class="image-small"></a>
      <p>conway's game of life<br>
      a ruby implementation of a classic programming challenge
    </center>
  </div>

  <div class="three columns">
    <center>
      <a href="http://emergency-pusheen.herokuapp.com" target="new"><img src="/images/pusheen.png" class="image-small"></a>
      <p>emergency pusheen<br>
        inspired by pusheen and emergency compliments</p>
    </center>
  </div>

  <div class="three columns">
    <center>
      <a href="http://sinatra-playlister.herokuapp.com" target="new"><img src="/images/playlist.png" class="image-small"></a>
      <p>youtube playlister<br>
        embeds youtube videos for some music blake liked in the '90s</p>
    </center>
  </div>

  <div class="three columns">
    <center>
      <a href="http://team-kickass.herokuapp.com/roulette" target="new"><img src="/images/ruby.png" class="image-small"></a>
      <p>ruby roulette<br>
        ruby resources for n00bs<br>
        created on the first day of the flatiron school</p>
    </center>
  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>

<div class="projects">
  <div class="two columns">
    <p> </p>
  </div>

  <div class="three columns">
    <center>
      <p> </p>
    </center>
  </div>

  <div class="three columns">
    <center>
      <a href="http://are-you-still-sad.herokuapp.com" target="new"><img src="/images/stillsad.png" class="image-small"></a>
      <p>are you still sad?<br>
        created with fabulous classmate sara gorecki</p>
    </center>
  </div>

  <div class="three columns">
    <center>
      <a href="http://hilarious-quiz.herokuapp.com" target="new"><img src="/images/doge.png" class="image-small"></a>
      <p>hilarious quiz<br>
        are you ashley, the internet wizard,
        or blake, the world traveler?</p>
    </center>
  </div>

  <div class="three columns">
    <center>
      <p> </p>
    </center>
  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>

<div class="links">
  <div class="sixteen columns title">
    <h4>LINKS</h4>
  </div>

  <div class="two columns">
    <p> </p>
  </div>

  <div class="four columns">
    <center>
      <a href="https://github.com/nixsticks" target="new"><img src="/images/octocat.png" class="image-links"></a>
    </center>
  </div>

  <div class="four columns">
    <center>
      <a href="http://www.linkedin.com/profile/view?id=91700514" target="new"><img src="/images/linkedin.png" class="image-links"></a>
    </center>
  </div>

  <div class="four columns">
    <center>
      <a href="http://nikkicodes.tumblr.com" target="new"><img src="/images/tumblr.png" class="image-links"></a>
    </center>
  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>

<footer>
  <div class="six columns">
    <p> </p>
  </div>

  <div class="two columns">
    <h4><a href="http://flatironschool-bk.herokuapp.com" target="new">BK-000</a></h4>
  </div>

  <div class="two columns">
    <h4><a href="mailto:nikki.thean@gmail.com" target="new">contact</a></h4>
  </div>

  <div class="six columns">
    <p> </p>
  </div>
</footer>