%header
  .round
    %h1 NIKKI THEAN
    %h2 WEB DEVELOPMENT PORTFOLIO

.about
  .twelve.columns.offset-by-two
    %h4 ABOUT
    %p I was born somewhere in the tropics (okay, Kuala Lumpur) and arrived in America in 2006 to attend <a href="http://www.princeton.edu">Princeton University</a>. I graduated in 2010 with an A.B. from the <a href="http://wws.princeton.edu/">Woodrow Wilson School of Public and International Affairs</a> and a certificate in <a href="http://www.princeton.edu/arts/arts_at_princeton/creative_writing/about_the_program/">Creative Writing</a>.
    %p I've worked in <a href="http://imshealth.com">pharmaceutical consulting</a> and <a href="http://foliolit.com">literary management</a>, where I taught myself VBA and decided I might actually like this programming thing. Other fun things I've done include singing at Carnegie Hall with the <a href="http://www.oratoriosocietyofny.org/">Oratorio Society of New York</a>, attending the <a href="http://www.squawvalleywriters.org/">Community of Writers at Squaw Valley</a>, studying writing under Sheila Kohler, Jeffrey Eugenides, and Joyce Carol Oates, and learning acrobatics at <a href="/images/circus.jpg">circus school</a>.
    %p Now I'm a <a href="http://flatironschool.com/nycworkforce1/">Web Development Fellow</a> at the <a href="http://flatironschool.com/">Flatiron School</a>.

.featured
  .sixteen.columns.title
    %h4 FEATURED PROJECTS

  .row
    .two.columns.offset-by-two
      %a{href: "http://palebluedot.herokuapp.com/solarsystem", target: "blank"}
        %img{src: "/images/planets.png", class: "image-small"}

    .ten.columns
      %p
        %a{href: "http://palebluedot.herokuapp.com/solarsystem", target: "blank"}
          %strong solar system tour
        %br
        An animated 3D model of the solar system, created in THREE.js with textures downloaded from <a href="http://planetpixelemporium.com/">planetpixelemporium</a>. View the solar system from three different perspectives: infinite, orthographic and from the perspective of the Earth herself as she moves around the sun. Orbital and rotational velocity are approximate. Click and drag to explore!

  .row
    .two.columns.offset-by-two
      %a{href: "http://palebluedot.herokuapp.com/world_quiz", target: "blank"}
        %img{src: "/images/carmensandiego.png", class: "image-small"}

    .ten.columns
      %p
        %a{href: "http://palebluedot.herokuapp.com/world_quiz", target: "blank"}
          %strong world quiz
        %br
        I love maps. There are three globes on my portfolio! Building off the last two d3 map projects, I decided to take it a step further and animate my globe, making a geography quiz that's fun and interactive. The globe image is generated from GeoJSON data. On the backend, a database of answers is tied to the countries on the map, allowing you to see what other users got right... or wrong.
        %p It's been the most popular of my apps by far -- my answers database exceeded Heroku's free row limit within 3 weeks of my creating it!

  .row
    .two.columns.offset-by-two
      %a{href: "http://watch-withme.herokuapp.com", target: "blank"}
        %img{src: "/images/video.png", class: "image-small", data:{target: "video"}}

    .ten.columns
      %p
        %a{href: "http://watch-withme.herokuapp.com", target: "blank"}
          %strong watchwithme 
        %br
        In November, one of our instructors tried to use a YouTube video tutorial in lecture, but we were unable to watch it on the projector because the sound was too low. Although we tried to watch it in sync with him on our separate computers, it quickly became impossible to tell if we were all at the right point.
      %p Enter watchwithme, a video-syncing application that allows you to watch YouTube videos with friends or classmates &#8212; and chat about them in the same window &#8212; on separate computers, perfectly in sync. The person who starts the room controls the video, and other watchers' videos are synchronized to it.
      %p I used websockets and the YouTube JavaScript API to synchronize the videos, Redis to temporarily store the locations of the separate viewing rooms, and Sinatra to power the app itself.

  .row
    .two.columns.offset-by-two
      %a{href: "http://set-game.herokuapp.com/", target: "blank"}
        %img{src: "/images/playing-cards.png", class: "image-small"}

    .ten.columns
      %p
        %a{href: "http://set-game.herokuapp.com/", target: "blank"}
          %strong set: the game
        %br
        As an exercise in learning front-end, I created a client-side implementation of the classic game <a href="http://en.wikipedia.org/wiki/Set_(game)">Set</a>. I thought this particular game would be interesting, given the relative complexity of the rules compared to simpler pattern-matching games.
      %p Then, since it's no fun to play alone, I made a multiplayer version using websockets, allowing you to play with as many friends as you want &#8212; on separate computers, in any location. You can play that version <a href="http://multiplayer-set.herokuapp.com/">here</a>.

  .row
    .two.columns.offset-by-two
      %a{href: "http://nixsticks.github.io/worldmaps/light-up-map.html", target: "blank"}
        %img{src: "/images/globe.png", class: "image-small"}

    .ten.columns
      %p
        %a{href: "http://nixsticks.github.io/worldmaps/light-up-map.html", target: "blank"}
          %strong learn your countries
        %br
        My second project with d3, building on the first (directly below). As your mouse moves over each country on the rotating globe, its land mass lights up and its name appears on screen. An intuitive way to brush up on your geography.

  .row
    .two.columns.offset-by-two
      %a{href: "http://nixsticks.github.io/worldmaps/spinningglobe.html", target: "blank"}
        %img{src: "/images/globe.png", class: "image-small"}

    .ten.columns
      %p
        %a{href: "http://nixsticks.github.io/worldmaps/spinningglobe.html", target: "blank"}
          %strong d3 globe
        %br
        This is a simple click-and-drag rotating globe made with the amazing d3 and topojson libraries and data from the Natural Earth library. It was made on the second day I started learning d3, which should explain its simplicity. I'm fascinated with the way d3 allows you to transform data into complex visualizations &#8212; without having to be a data scientist. Expect more maps to come soon.
        
  .row
    .two.columns.offset-by-two
      %a{href: "http://nixsticks.github.io/starfield/stars.html", target: "blank"}
        %img{src: "/images/starfield.gif", class: "image-small"}

    .ten.columns
      %p
        %a{href: "http://nixsticks.github.io/starfield/stars.html", target: "blank"}
          %strong starfield
        %br
        Despite my relative lack of knowledge in the field, I'm fascinated by astronomy and cosmology &#8212; I entered Princeton hoping to be an astrophysics major. I discovered <a href="http://astronexus.com/node/34">this</a> wonderful compilation of the Hipparcos catalog, the Yale Bright Star catalog, and the Gliese catalog, and decided to teach myself a little three.js in an attempt to visualize the data.
        %p Starfield is a work in progress. Right now, I have a 3D visualization of all 119,000+ stars in the catalog, using a three.js particle system. Click and drag to rotate the star system; use your mouse wheel or trackpad to zoom in or out. In future, I plan to use layers for better performance, allow for click-zooming, and improve the labeling, which is currently done using sprites but might be better accomplished by integrating CSS with the three.js camera system.

  .row
    .two.columns.offset-by-two
      %a{href: "http://clapforashley.com", target: "blank"}
        %img{src: "/images/clap.png", class: "image-small", data: {target: "ashley"}}

    .ten.columns
      %p
        %a{href: "http://clapforashley.com", target: "blank"}
          %strong clap for ashley
        %br
        Our class decided to make a website to surprise instructor Ashley Williams, an avid user of Twitter. This website lies dormant until Ashley sends out a tweet &#8212; or until any Twitter user sends out the class in-joke hashtag #clapforashley &#8212; upon which the screen fills with the images and sounds of applause.
      %p This was a group effort; I kicked things off by setting up the backend and the oauth for Twitter, which (again!) uses websockets so the effect is instantaneous. I also wrote the JavaScript that shows the tweet and fills the background with clapping images.

  .row
    .two.columns.offset-by-two
      %img{src: "/images/compass.png", class: "image-small"}
      
    .ten.columns
      %p
        %strong geotreasure (current project: link to come!)
        %br
        Geotreasure is a hybrid treasure hunt/tourism app, inspired by the concept of geocaching, that allows participants to create trails for others to follow &#8212; from anywhere in the world, to anywhere in the world. Using mobile phones or other portable devices, trail followers can check in at any given location to discover buried treasure in the form of videos, audio, images, and text left as a reward by the trail's creator.
      %p Geotreasure is a <strong>work in progress</strong>, created as a Rails project with my partner Oliver Switzer at the Flatiron School. We work extensively with the Google Maps API. We have our database and user workflow complete, and are currently working on finishing up styling!

.projects
  .sixteen.columns.title
    %h4 OTHER PROJECTS
    %p{class: "center"} (click for more information)

  .three.columns.offset-by-two
    %img{src: "/images/blake.jpeg", class: "image-small dropdown", data: {target: "blake"}}
    %p
      %strong blake is awesome

  .three.columns
    %img{src: "/images/envelope.png", class: "image-small dropdown", data: {target: "mailbox"}}
    %p
      %strong compliment mailbox

  .three.columns
    %img{src: "/images/beehives.png", class: "image-small dropdown", data: {target: "gameoflife"}}
    %p
      %strong conway's game of life

  .three.columns
    %img{src: "/images/playlist.png", class: "image-small dropdown", data: {target: "playlister"}}
    %p
      %strong youtube playlister

.descriptions
  .ten.columns.offset-by-three
    #blake.hidden
      %h4 The Most Interesting Man in the World
      %p The class made this website as a surprise for instructor Blake Johnson, parodying the famous Dos Equis ad. I worked on the jQuery and JavaScript that fades the lines in and out, allows you to replay the entire commercial at the end, and stops and restarts the song.
      .center
        %a{href: "http://blakeisaweso.me", class: "btn btn-default", target: "blank"} Check it out!

    #mailbox.hidden
      %h4 Compliment Mailbox
      %p This was a quick project, whipped up in the course of one evening in an attempt to learn to roll my own user authentication system in Rails (courtesy of Michael Hartl's tutorial) and to learn how to make a basic messaging system in Rails.
      .center
        %a{href: "http://compliment-mailbox.herokuapp.com", class: "btn btn-default", target: "blank"} Check it out!

    #gameoflife.hidden
      %h4 Conway's Game of Life
      %p This was a much earlier project, started when I was just beginning to learn Ruby. I taught myself to use basic methods from the jQuery AJAX library in order to regularly retrieve the current positions and states of the cells from the server. Now that I know more JavaScript and jQuery, I would love to remake this app sometime with the logic in the front-end, just to see if I can. Also on the list: a hybrid app that retrieves the initial cell patterns and states from the server, and then executes logic in the front-end to play the game without AJAX.
      .center
        %a{href: "http://conways-gameoflife.herokuapp.com", class: "btn btn-default", target: "blank"} Check it out!

    #playlister.hidden
      %h4 Youtube Playlister
      %p Another early project. We were given a list of songs and asked to make a playlister engine from them; I decided to take it a step further by using the YouTube search API to embed videos for each of the songs.
      .center
        %a{href: "http://sinatra-playlister.herokuapp.com", class: "btn btn-default", target: "blank"} Check it out!

.projects
  .three.columns.offset-by-two
    %img{src: "/images/Bulbasaur.png", class: "image-small dropdown", data: {target: "pokemon"}}
    %p
      %strong pokemon

  .three.columns
    %img{src: "/images/pusheen.png", class: "image-small dropdown", data: {target: "pusheen"}}
    %p
      %strong emergency pusheen

  .three.columns
    %img{src: "/images/ruby.png", class: "image-small dropdown", data: {target: "ruby"}}
    %p
      %strong ruby roulette

  .three.columns
    %img{src: "/images/stillsad.png", class: "image-small dropdown", data: {target: "stillsad"}}
    %p
      %strong are you still sad?

.descriptions
  .ten.columns.offset-by-three
    #pokemon.hidden
      %h4 Pokemon!
      %p Early project: a recreation of the first few steps of the classic Pokemon Red. (Always my favorite.) Using Nokogiri, I scraped information and images from <a href="http://bulbapedia.bulbagarden.net/wiki/Main_Page">Bulbapedia</a> &#8212; information on every single Pokemon &#8212; to create my own PokeDex. Then I put it online.
      .center
        %a{href: "http://pokemon-ajax.herokuapp.com", class: "btn btn-default", target: "blank"} Check it out!

    #pusheen.hidden
      %h4 Emergency Pusheen
      %p One of our earliest projects: a randomly generated emergency compliment, inspired by <a href="http://emergencycompliment.com/">emergency compliment.com</a>. This one is Pusheen-flavored.
      .center
        %a{href: "http://emergency-pusheen.herokuapp.com", class: "btn btn-default", target: "blank"} Check it out!

    #ruby.hidden
      %h4 Ruby Roulette
      %p Made on the very first day of the Flatiron School &#8212; a resource-sharing app for Ruby beginners.
      .center
        %a{href: "http://team-kickass.herokuapp.com", class: "btn btn-default", target: "blank"} Check it out!

    #stillsad.hidden
      %h4 Are You Still Sad?
      %p An extension of the emergency compliment assignment, made with a partner, using images and text scraped from the web. We thought it was pretty funny.
      .center
        %a{href: "http://are-you-still-sad.herokuapp.com", class: "btn btn-default", target: "blank"} Check it out!

.projects
  .three.columns.offset-by-five
    %img{src: "/images/doge.png", class: "image-small dropdown", data: {target: "hilarious"}}
    %p
      %strong hilarious quiz

  .three.columns
    %img{src: "/images/christmas.png", class: "image-small dropdown", data: {target: "holiday"}}
    %p
      %strong is it today?

.descriptions
  .ten.columns.offset-by-three
    #hilarious.hidden
      %h4 Hilarious Quiz
      %p A first exercise in using HTML forms; I use haml to randomly order the answers rather than hard-coding them.
      .center
        %a{href: "http://hilarious-quiz.herokuapp.com", class: "btn btn-default", target: "blank"} Check it out!

    #holiday.hidden
      %h4 Is It Today?
      %p An exercise in using the Ruby date and time classes, with public holiday information scraped from the web!
      .center
        %a{href: "http://isittoday.herokuapp.com", class: "btn btn-default", target: "blank"} Check it out!

.links
  .sixteen.columns.title
    %h4 LINKS

  .two.columns.offset-by-five
    %a{href: "https://github.com/nixsticks", target: "blank"}
      %img{src: "/images/octocat.png", class: "image-links"}

  .two.columns
    %a{href: "http://www.linkedin.com/profile/view?id=91700514", target: "blank"}
      %img{src: "/images/linkedin.png", class: "image-links"}

  .two.columns
    %a{href: "http://nikkicodes.tumblr.com", target: "blank"}
      %img{src: "/images/tumblr.png", class: "image-links"}

%footer
  .two.columns.offset-by-six
    %h4
      %a{href: "http://flatironschool-bk.herokuapp.com", target: "blank"} BK-000

  .two.columns
    %h4
      %a{href: "mailto:nikki.thean@gmail.com", target: "blank"} contact