!!!
%html
  %head
    %link{rel: "stylesheet", type: "text/css", href: "/styles/skeleton.css"}
    %link{rel: "stylesheet", type: "text/css", href: "/styles/base.css"}
    %link{rel: "stylesheet", type: "text/css", href: "/styles/layout.css"}
    / %link{rel: "stylesheet", type: "text/css", href: "/styles/bootstrap.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "/styles/custom.css"}
    %script{src: "//code.jquery.com/jquery-1.9.1.js"}
    %script{src: "/javascript/custom.js"}
    %title Nikki Thean
  %body
    .container
      = yield