body {
  background-color: ivory;
}

header, footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1, h2, h4 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #777;
/*  text-shadow: 0px 1px 1px #555;*/
}

footer a {
  color: #181818;
}

.self {
  max-width: 150px;
}

.image-small,
.image-links {
  height: 100px;
  width: auto;
}

.about,
.projects,
.links,
.title {
  padding-bottom: 20px;
}

.about,
.projects,
.links,
.gameoflife,
.emergencypusheen,
.hilariousquiz,
.stillsad,
.rubyroulette {
  overflow: auto;
  width: 100%;
}